.image,.image2,.image1{
    border-radius:50%;
    height: 25vh;
    width:20vw;
    margin:0 2vw;
}
.container{
    display:flex;
}
h3{
    text-align: center;
}
.containing{
    height:60vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left:15vw;
    margin-right:15vw;
}
.paragraph{
    text-align: center;
}
h1{
    text-align: center;
}
.dropdown{
    margin:0 40%;
}
.milkyWay,.outstanding,.galaxy{
    display:none;
}
.tabular{
    
    display:none;
}
.tabular tr th{
    padding:0 2vw;
}
.tabular tr td{
    padding:0 2vw;
}
.tabulate{
    margin:6vh 2vw;
    display:block;
}
.secondbutton{
    display: none;
}
.secondButton{
    margin:3vh 40vw;
    display: inline-block;
}